footer {
  background: transparent;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #ada7a762;
}

footer a {
  text-decoration: none;
  color: #555666;
  transition: 1s;
}

footer a:hover {
  font-size: 1.2em;
}

footer p {
  margin: 0;
  padding: 0.5em;
}
