.nav-container {
  background-color: aliceblue;
  background-image: url("/assets/img/planetayo.png");
  /* width: 100%; */
  height: 50vh;
  /* position: fixed; */
  z-index: 9;
}

.navbar {
  margin: 0;
  /* width: 100%; */
  /* display: flex; */
  /* position: fixed; */
  background-color: #200005;
  z-index: 11;
}

.navbar a {
  padding: 0 1em;
  color: aliceblue;
  margin: 1em;
  text-decoration: none;
}

.img-header {
  width: 4em;
}
