<header
  class="header border-0 bg-transparent card text-dark d-flex flex-row align-items-center"
>
  <div
    class="card-body text-center d-flex flex-column align-items-center w-full"
  >
    <div class="btn-edit d-flex">
      <img
        class="profile-img img-fluid rounded-circle"
        [src]="myPortfolio.profileImg"
        alt="profile pic"
      />
      <a href="#" class="btn-right d-flex align-self-end text-black m-0">
        <fa-icon [icon]="faPen"></fa-icon>
      </a>
    </div>
    <h3 class="card-title">{{ myPortfolio.name }}</h3>
    <h6 class="card-text">{{ myPortfolio.position }}</h6>
    <p class="card-text">{{ myPortfolio.location }}</p>

    <a href="#">Información de contacto</a>
  </div>
  <div class="card-body text-center d-flex flex-column align-items-center">
    <p class="card-text small w-50 m-0">{{ myPortfolio.institutionText }}</p>
    <div class="btn-edit d-flex">
      <a
        href="https://charlybgood.art"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="institution img-fluid"
          [src]="myPortfolio.institutionImg"
          alt="imagen de artista de charly bgood"
        />
      </a>
      <a href="#" class="btn-right d-flex align-self-end text-black m-0">
        <fa-icon [icon]="faPen"></fa-icon>
      </a>
    </div>
  </div>
</header>
