.header {
  /* position: absolute; */
  width: 100%;
  bottom: 15vh; 
  /* z-index: 10; */
}

.profile-img {
  width: 11em;
  z-index: 10;
  /* border-radius: 33em; */
}

/* .creativecommons {
  width: 3em;
} */

.institution {
  width: 11em;
}

.card-body a {
  text-decoration: none;
  margin-bottom: 1rem;
}