<div
  class="profile-info border-0 bg-transparent card text-dark d-flex flex-row align-items-center"
>
  <div
    class="card-body text-center d-flex flex-column align-items-center w-full"
  >
    <div class="btn-edit d-flex">
      <img
        class="profile-img img-fluid rounded-circle"
        src="../assets/charlybgood.jpg"
        alt=""
      />
      <a href="#" class="btn-right d-flex align-self-end text-black m-0">
        <fa-icon [icon]="faPen"></fa-icon>
      </a>
    </div>
    <h3 class="card-title">{{ title }}</h3>
    <h6 class="card-text">Desarrollador Fullstack jr.</h6>
    <p class="card-text">{{ city }}</p>

    <a href="#">Información de contacto</a>
    <div class="d-flex align-items-center">
      <button class="btn btn-primary" (onclick)="onClick()">
        Tengo interés en...
      </button>
      <a href="#" class="mb-0 text-black" style="margin-left: 1em;">Añadir Sección</a>
    </div>
  </div>
  <div
    class="card-body text-center d-flex flex-column align-items-center"
  >
    <div class="btn-edit d-flex">
      <img
        class="creativecommons img-fluid rounded-circle"
        src="../assets/creativecommons.jpg"
        alt=""
      />
      <a href="#" class="btn-right d-flex align-self-end text-black m-0">
        <fa-icon [icon]="faPen"></fa-icon>
      </a>
    </div>
    <h6 class="card-text">Argentina Programa</h6>
    <p class="card-text">Ministerio de desarrollo de la Nación Argentina</p>
  </div>
</div>
