.profile-info {
  /* position: fixed; */
  width: 100%;
  /* bottom: 17vh; */
  /* left: 11%; */
}

.profile-img {
  width: 8em;
  /* border-radius: 33em; */
}

.creativecommons {
  width: 3em;
}

.card-body a {
  text-decoration: none;
  margin-bottom: 1rem;
}