/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #200005; */
  background-color: #e2ddd9;
  width: 100%;
  /* height: 100vh; */
  font-size: 16px;
}
